<% include ../partials/header %>
<div class="container ">
    <div class="row">
        <div class="col-md-3 contents">
            <p class="lead">BEACHyo</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <image class="img-responsive" src="<%= beach.image %>">
                <div class="caption-full">
                <div class="wrap-stars">
                    <div class="starrating risingstar">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">5</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1</label>
                    </div>
                </div>	
                    <h4><a><%=beach.name%></a></h4>
                    <p>
                        <%= beach.description %>
                    <em> Submitted by :<%=  beach.author.username  %></em>
                    </p>
                    <br><br>
                    <section>
                    <% if(currentUser && beach.author.id.equals(currentUser._id )){ %>
                        <a class="btn btn-edit" href="/beaches/<%= beach._id %>/edit">Edit</a>
                        <form id="delete-form" action="/beaches/<%= beach._id %>?_method=DELETE" method="POST">
                           <button class="btn-delete ">Delete</button>
                        </form>
                    <% }%>
                    </section>
                        
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/beaches/<%= beach._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% beach.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username  %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class=" show btn btn-xs btn-warning" 
                               href="/beaches/<%= beach._id %>/comments/<%=comment._id %>/edit">Edit</a>
                               <!--DELETE FORM-->
                            <form id="delete-form" action="/beaches/<%= beach._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
            
        </div>
    </div>
</div>

<% include ../partials/footer %>